/* 
    Author     : Seb
*/
.root{
    -fx-background-image: url("../images/gameBackground.jpg");
    -fx-background-size: cover;
    -fx-font-family: "Calibri";
}

.button {
    -fx-font-weight: bold;
}

